.recette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 2rem;
  position: relative;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
}

.card img {
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}

.card p {
  font-size: 24px;
  font-weight: 700;
}

.xmark {
  position: relative;
  top: 2rem;
  left: 8rem;
  color: red;
  cursor: pointer;
}
