section {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loadMore {
  display: flex;
  align-items: center;
  border: none;
  color: white;
  background-color: #ff7801;
  border-radius: 2rem;
  padding: 1rem 2rem;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
